* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Hk-guise-medium";
  font-size: 12px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--tertiary);;
  color: var(--secondary);
  padding-bottom: 2rem;

  .horizontal-line {
    height: 2px;
    width: 100%;
    border-bottom: 1.4px solid var(--secondary);
    margin-bottom: 2rem;
  }

  #line {
    margin-top: 2rem;
  }

  .complex,
  .business {
    img {
      margin-left: 4px;
    }

    h1 {
      font-family: "Hk-guise-bold";
      text-align: right;
    }
  }

  .business {
    display: flex;
    flex-direction: column;
  }

  .complex {
    display: flex;
    flex-direction: column;
  }

  th {
    padding: 0 0px 20px;
  }

  li {
    list-style: none;
  }
}

.copyright,
.logos {
  // width: 25%;

  h6 {
    font-size: 10px;
  }
}

.logos,
.copyright,
.policies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.policies {
  .list {
    li {
      display: inline;

      a {
        color: var(--secondary);
        text-decoration: none;
      }
      &:hover {
        text-decoration: underline;
      }

      span {
        margin-left: 3px;
      }
    }
  }
}

.logos {
  button {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 20px;
    color: var(--secondary);
    margin-left: 8px;
  }
}

@media screen and (min-width: 320px) {
  th {
    font-size: 1rem;
  }

  .complex {
    img {
      display: none;
    }
  }

  .complex,
  .busines {
    width: 100%;
  }

  .sitemap-vass,
  .sitemap-talent {
    width: 50%;
  }

  .sitemap-vass,
  .business {
    padding-left: 1rem;
  }

  .complex {
    margin-bottom: 3rem;

    padding-right: 20px;
    h1 {
      font-size: 1rem;
    }
  }

  .business {
    margin-top: 2rem;

    .img {
      display: none;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: auto auto;

    .copyright {
      margin-bottom: 1rem;
    }
    .logos {
      margin-top: 2rem;
    }

    .policies {
      margin: auto auto;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }

      li {
        padding-left: 4px;
        padding-right: 4px;

        span {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .content {
    padding-left: 0px;
  }

  .complex,
  .business {
    width: 20%;
  }

  .complex {
    img {
      display: inline;
      width: 65%;
    }
  }

  .sitemap-vass,
  .sitemap-talent {
    width: 30%;
  }

  .complex {
    .text {
      width: 30%;
    }

    justify-content: space-between;
    align-items: initial;
    padding-left: 20px;

    margin-bottom: 0;

    padding-right: 20px;

    h1 {
      font-size: 1rem;
    }
  }

  .business {
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 0;
    padding-right: 1rem;

    .img {
      display: initial;
      margin-left: 0;

      img {
        padding-left: 5px;
      }
    }
  }

  @media screen and (min-width: 1400px) {
    .complex {
      img {
        width: 25%;
      }
    }

    .footer {
      flex-direction: row;
      margin-left: 1rem;

      width: 100%;

      .copyright {
        margin-bottom: 0;
      }

      .logos {
        margin-top: 0;
      }

      .policies {
        margin: auto auto;
        width: 30%;

        li {
          padding-left: 3px;
          padding-right: 3px;

          span {
            display: initial;
          }
          #separator {
            padding-right: 4px;
          }
        }
      }
    }
  }
}
