@font-face {
  font-family: "Hk-guise-bold";
  font-style: bold;
  font-weight: 200;
  src: url("../assets//font/HK\ Guise\ Bold.otf");
}

@font-face {
  font-family: "Hk-guise-extralight";
  font-style: extralight;
  font-weight: 200;
  src: url("../assets/font/HK\ Guise\ ExtraLight.otf");
}

@font-face {
  font-family: "Hk-guise-light";
  font-style: light;
  font-weight: 200;
  src: url("../assets//font/HK\ Guise\ Light.otf");
}

@font-face {
  font-family: "Hk-guise-medium";
  font-style: medium;
  font-weight: 200;
  src: url("../assets//font/HK\ Guise\ Medium.otf");
}

@font-face {
  font-family: "Hk-guise-regular";
  font-style: regular;
  font-weight: 200;
  src: url("../assets//font/HK\ Guise\ Regular.otf");
}

@font-face {
  font-family: "Hk-guise-semi-bold";
  font-style: semiBold;
  font-weight: 200;
  src: url("../assets//font/HK\ Guise\ SemiBold.otf");
}

@font-face {
  font-family: "Hk-guise-thin";
  font-weight: 200;
  src: url("../assets//font/HK\ Guise\ Thin.otf");
}
