<form>

  <div class="content-left">

    <div class="input">
      <input type="text" placeholder="Nombre y apellidos" />
    </div>

    <div class="input">
      <input type="email" placeholder="Email" />
    </div>

    <div class="input">
      <input type="text" placeholder="Empresa / Organismo" />
    </div>

    <div class="input">
      <input type="text" placeholder="Pais" />
    </div>

  </div>


  <div class="content-right">

    <div class="input">
      <input type="tel" placeholder="Teléfono" />
    </div>

    <div class="input">

      <label for="">Mensaje</label>

      <textarea
        class="form-control"
        id="message"
        type="text"
      ></textarea>
    </div>

    <div class="button">
      <button >Enviar</button>


    </div>


  </div>









</form>
